.big-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  &--show-more {
    flex-flow: column;
    align-items: stretch;
  }
}

.big-item__img-wrapper {
  width: 50%;
  position: relative;
  min-height: 144px;
  min-width: 140px;
}

.big-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-item__text {
  width: 49%;
}

.big-item__title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 80px;
}

.big-item__table {
  display: block;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.big-item__table tbody {
  display: flex;
  flex-flow: column;
}

.big-item__row {
  display: flex;
  justify-content: space-between;
}

.big-item__cell {
  display: flex;
}

.big-item__btn {
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .big-item {
    flex-flow: column;
    align-items: stretch;
  }

  .big-item__img-wrapper {
    width: 324px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .big-item__img {
    width: 324px;
    height: auto;
    top: auto;
    bottom: 0;
    left: 0;
    transform: none;
  }

  .big-item__text {
    width: auto;
  }

  .big-item__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
    max-width: 135px;
  }

  .big-item__table {
    font-size: 16px;
  }

  .big-item__row {
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
  }

  .big-item__btn {
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .big-item__img-wrapper {
    width: 245px;
  }

  .big-item__img {
    width: 245px;
  }
}
