.big-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &--show-more {
    flex-flow: column;
    align-items: stretch;
  }
}

.big-item__img-wrapper {
  display: block;
  position: relative;
  width: 50%;
  min-width: 140px;
  min-height: 144px;
}

.big-item__img {
  position: absolute;
  width: 140px;
  height: auto;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.big-item__text {
  width: 49%;
}

.big-item__link {
  color: black;
}

.big-item__title {
  max-width: 80px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.big-item__table {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.big-item__table tbody {
  display: flex;
  flex-flow: column;
}

.big-item__row {
  display: flex;
  justify-content: space-between;
}

.big-item__cell {
  display: flex;
}

.big-item__btn {
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .big-item {
    flex-flow: column;
    flex-grow: 1;
    align-items: stretch;

    &--show-more {
      justify-content: space-between;
    }
  }

  .big-item__img-wrapper {
    position: absolute;
    top: -181px;
    right: 50%;
    width: 324px;
    transform: translateX(50%);
  }

  .big-item__img {
    top: auto;
    bottom: 0;
    left: 0;
    width: 324px;
    height: auto;
    transform: none;
  }

  .big-item__text {
    width: auto;
  }

  .big-item__title {
    max-width: 135px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .big-item__table {
    font-size: 16px;
  }

  .big-item__row {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .big-item__btn {
    margin-top: 33px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .big-item__img-wrapper {
    width: 245px;
  }

  .big-item__img {
    width: 245px;
  }
}
