.catalog-extra {
  border-top: 3px solid $green-color;
  margin-top: 42px;
  padding-top: 41px;
}

.catalog-extra__title {
  position: absolute;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: -20px;
  padding: 0 20px;
  top: -60px;
  background-color: $white-color;
}

.catalog-extra__wrapper {
  padding: 0 $pad-main;
  position: relative;
}

.catalog-extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-extra__item {
  border-bottom: 1px solid $grey-border;
  padding: 14px 0 17px;

  &:first-child {
    border-top: 1px solid $grey-border;
  }
}

.catalog-extra__deal {
  display: block;
  position: relative;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
  background-color: $green-color;
  width: 280px;
  height: 289px;
  margin: 40px auto 19px;

  &::before {
    content: "";
    position: absolute;
    color: $white-color;
    background: url("../img/icon-gift.svg") no-repeat 0 0;
    width: 55px;
    height: 60px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog-extra__deal-text {
  color: $white-color;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 190px 55px 0;
}

@media (min-width: $tabletop) {
  .catalog-extra {
    margin-top: 88px;
    padding-top: 91px;
  }

  .catalog-extra__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 38px;
    top: -115px;
  }

  .catalog-extra__wrapper {
    padding: 0 $pad-tablet;
    margin: 0 auto;
  }

  .catalog-extra__item {
    border-left: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
    padding-left: 38px;
    padding-right: 38px;
  }

  .catalog-extra__deal {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
  }
}

@media (min-width: $desktop) {
  .catalog-extra__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
    max-width: $max-desktop;
    padding: 0 $pad-desk;
  }

  .catalog-extra__title {
    top: -115px;
  }

  .catalog-extra__list {
    width: (895px / $content-max-width) * 100%;
  }

  .catalog-extra__item {
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-extra__deal {
    margin: 0;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: (245px / $content-max-width) * 100%;
  }
}

@media (min-width: $max-desktop) {
  .catalog-extra__wrapper {
    padding: 0 110px;
  }
}
