.catalog-main__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-main__item {
  padding: 0 $padding-mobile 24px;
  border: 1px solid $grey-border;
  border-top: 0;

  &:first-of-type {
    border-top: 1px solid $grey-border;
  }
}

@media (min-width: $tablet-width) {
  .catalog-main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $padding-tablet;
  }

  .catalog-main__item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: $flex-item-width;
    margin-top: 140px;
    padding: 163px 38px 40px;
    border: 0;
    background-color: $grey-color;

    &--show-more {
      display: flex;
      border: 1px solid $grey-border;
      background-color: $white-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    max-width: $max-desktop-width;
    margin: 0 auto;
    padding: 0;
  }

  .catalog-main__list {
    padding: 0 $padding-desktop;
  }

  .catalog-main__item {
    width: (245px / $content-max-width) * 100%;
    margin-top: 140px;
    padding: 163px (38px * 100% / $content-max-width) (40px * 100% / $content-max-width);
  }
}
