.small-item__title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 11px;
}

.small-item__table {
  display: block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.small-item__table tbody {
  display: flex;
  flex-flow: column;
}

.small-item__row {
  display: flex;
  justify-content: space-between;
}

.small-item__btn {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .small-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .small-item__title {
    margin: 0;
    font-size: 20px;
  }

  .small-item__table {
    font-size: 16px;
    line-height: 16px;
  }

  .small-item__cell {
    min-width: 95px;
    text-align: right;
  }

  .small-item__btn {
    width: 100%;
    margin-top: 27px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .small-item__table {
    margin-left: auto;
    margin-right: 40px;
  }

  .small-item__cell:first-child {
    text-align: left;
    width: 190px;
  }

  .small-item__btn {
    width: (245px / 895px) * 100%;
    margin: 0;
  }
}
