.small-item__title {
  text-transform: uppercase;
  line-height: 16px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

.small-item__table {
  display: block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.small-item__table tbody {
  display: flex;
  flex-flow: column;
}

.small-item__row {
  display: flex;
  justify-content: space-between;
}

.small-item__btn {
  margin-top: 14px;
}

@media (min-width: $tabletop) {
  .small-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .small-item__title {
    margin: 0;
  }

  .small-item__cell {
    min-width: 95px;
    text-align: right;
  }

  .small-item__btn {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .small-item__table {
    margin-left: auto;
    margin-right: 40px;
  }

  .small-item__btn {
    width: (245px / 895px) * 100%;
    margin: 0;
  }
}
