.contacts {
  position: relative;
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px $pad-main 26px;
  background-color: $white-color;
  z-index: 1;

  &--bgc-grey {
    background-color: $grey-color;
  }
}

.contacts__tagline {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  width: 140px;
  margin: 0;
}

.contacts__addres {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  width: 140px;
  margin: 0;
}

.contacts__map-wrapper {
  width: 320px;
  height: 400px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);

  &::after {
    content: "";
    background: url("../img/map-pin.png") no-repeat 0 0;
    position: absolute;
    width: 124px;
    height: 106px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 5;
  }
}

@media (min-width: $tabletop) {
  .contacts__text-wrapper {
    padding: 69px $pad-tablet 62px;
  }

  .contacts__tagline {
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }

  .contacts__addres {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
}

@media (min-width: $desktop) {
  .contacts {
    max-width: $max-desktop;
    padding: 0 $pad-desk;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__text-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    background-color: $white-color;
  }

  .contacts__addres {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: left;
  }
}

@media (min-width: $max-desktop) {
  .contacts {
    padding: 0 $pad-max;
  }
}
