.contacts {
  position: relative;
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px $padding-mobile 26px;
  background-color: $white-color;
  z-index: 1;

  &--bgc-grey {
    background-color: $grey-color;
  }
}

.contacts__tagline {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  width: 140px;
  margin: 0;
}

.contacts__addres {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  width: 140px;
  margin: 0;
}

.contacts_spb {
  display: block;
}

.contacts__map-wrapper {
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.contacts__map {
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.contacts__iframe {
  frameborder: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .contacts__text-wrapper {
    padding: 64px calc(#{$padding-tablet} + 5.2%) 57px;
  }

  .contacts__tagline {
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }

  .contacts__addres {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }

  .contacts_spb {
    margin-top: 20px;
  }

  .contacts__map-wrapper {
    height: 400px;
  }

  .contacts__map {
    width: auto;
    height: 400px;
    right: 0;
  }

  .contacts__iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    max-width: $max-desktop-width;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__text-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
    background-color: $white-color;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 75px;
    padding-right: 87px;
  }

  .contacts__addres {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: left;
    margin-left: 90px;
  }
}
