.main-footer {
  background-color: $grey-color;
}

.main-footer__bottom {
  text-align: center;
  padding: 0 $padding-mobile;
}

.main-footer__logo-wrapper {
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;
  display: block;
}

.main-footer__logo-wrapper[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__html-academy-link {
  color: $black-color;
  padding: 20px 0;
  text-align: left;
  position: relative;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__html-academy-link:hover .main-footer__html-academy-svg,
.main-footer__html-academy-link:focus .main-footer__html-academy-svg,
.main-footer__html-academy-link:active .main-footer__html-academy-svg {
  fill: $green-color;
}

.main-footer__html-academy-link:active {
  opacity: 0.3;
}

.main-footer__html-academy-title {
  padding-right: 23px;
}

@media (min-width: $tablet-width) {
  .main-footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-tablet;
  }

  .main-footer__logo-wrapper {
    padding-bottom: 55px;
    padding-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__bottom {
    max-width: $max-desktop-width;
    padding: 0 $padding-desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .main-footer__logo-wrapper {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media (min-width: $max-desktop-width) {
  .main-footer__bottom {
    padding: 0 $padding-max;
  }
}
