.social {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  display: block;
  position: relative;
  margin: 0 20px;
}

.social__link:hover .social__svg,
.social__link:focus .social__svg,
.social__link:active .social__svg {
  fill: $green-color;
}

.social__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    padding-left: 33px;
  }

  .social__link {
    margin: 0 14px;
  }

  .social__svg {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 29px;
    }
  }
}
