body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  color: black;
  min-width: 320px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: 0;
  background: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  &:active {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-interactive {
  display: block;
  color: white;
  background-color: $green;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(white, 0.3);
  }

  &--grey {
    color: black;
    background-color: $grey;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(black, 0.3);
    }
  }
}
