body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;
  color: $black-color;
  font-family: "Oswald", "Arial", sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.page-title {
  margin: 0;
  padding: 22px $padding-mobile;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  &--programm {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  &--catalog {
    padding-top: 15px;
    padding-bottom: 28px;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    padding-right: $padding-tablet;
    padding-left: $padding-tablet;
    font-size: 60px;

    &--programm {
      padding-top: 42px;
      padding-bottom: 56px;
    }

    &--catalog {
      padding-top: 42px;
      padding-bottom: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    max-width: $max-desktop-width;
    margin: 0 auto;
    padding-right: $padding-desktop;
    padding-left: $padding-desktop;

    &--programm {
      padding-top: 58px;
      padding-bottom: 56px;
    }

    &--catalog {
      padding-top: 58px;
      padding-bottom: 26px;
    }
  }
}

@media (min-width: $max-desktop-width) {
  .page-title {
    padding-right: $padding-max;
    padding-left: $padding-max;
  }
}

.page-main {
  z-index: 0;
}

.btn {
  display: inline-block;
  padding: 0;
  border: 0;
  background: 0;
  vertical-align: middle;

  &:active {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-interactive {
  display: block;
  padding: 10px 0;
  background-color: $green-color;
  color: $white-color;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($white-color, 0.3);
  }

  &--grey {
    background-color: $grey-color;
    color: $black-color;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($black-color, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn-interactive {
    margin-top: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}
