$green-color: #68b738;
$grey-color: #f2f2f2;
$white-color: #ffffff;
$black-color: #000000;
$grey-border: $grey-border;
$pad-main: 6.25%;
$tabletop: 768px;
//$tabletop: (768px + 320px)/2;
$pad-tablet: 3.9%;
//$desktop: 1440px;
$max-desktop: 1440px;
$desktop: (1440px + 768px)/2;
$pad-desk: (110px / 1440px) * 100%;
$pad-max: 110px;
$content-max-width: $max-desktop - 2 * $pad-max;
$flex-item-width: 46.7%;
