$green-color: #68b738;
$grey-color: #f2f2f2;
$white-color: #ffffff;
$black-color: #000000;
$grey-border: #e6e6e6;
$mobile: 320px;
$pad-main: (20px / $mobile) * 100%;
$tabletop: 768px;
//$tabletop: (768px + 320px)/2;
$pad-tablet: (30px / $tabletop) * 100%;
//$desktop: 1440px;
$max-desktop: 1440px;
$desktop: ($max-desktop + $tabletop) / 2;
$pad-max: 110px;
$pad-desk: ($pad-max / $max-desktop) * 100%;
$content-max-width: $max-desktop - 2 * $pad-max;
$flex-item-width: 46.7%;
