$green-color: #68b738;
$grey-color: #f2f2f2;
$white-color: #ffffff;
$black-color: #000000;
$grey-border: #e6e6e6;
$mobile-width: 320px;
$padding-mobile: (20px / $mobile-width) * 100%;
$tablet-width: 768px;
//$tablet-width: (768px + $mobile-width)/2;
$padding-tablet: (30px / $tablet-width) * 100%;
$max-desktop-width: 1440px;
$desktop-width: ($max-desktop-width + $tablet-width) / 2;
$padding-max: 110px;
$padding-desktop: ($padding-max / $max-desktop-width) * 100%;
$content-max-width: $max-desktop-width - 2 * $padding-max;
$flex-item-width: 46.7%;
