.main-nav {
  position: relative;
}

@media (max-width: ($tablet-width - 1px)) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -44px;
  right: $padding-mobile;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  padding: 23px $padding-mobile 22px;
  border-bottom: 1px solid $grey-border;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__link {
  color: $black-color;

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.6;
  }

  &:not(&--active):active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $green-color;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 520px;
  }

  .main-nav__item {
    padding-right: 0;
    padding-left: 35px;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  .main-nav__link {
    padding-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    padding-left: 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }

  .main-nav__link {
    &--index {
      color: $white-color;
    }

    &--index-active {
      border-bottom: 2px solid $white-color;
    }
  }
}
