.main-nav {
  position: relative;
}

@media (max-width: ($tablet-width - 1px)) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }

    .humburger {
      background-color: $black-color;
      transition: all 0.2s ease-in-out;

      &::after {
        transform: translate(-3px, 0);
        transform-origin: 0 50%;
        transition: transform 0.2s ease-in-out;
      }

      &::before {
        transform: translate(-3px, 0);
        transform-origin: 0 50%;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: $padding-mobile;
  cursor: pointer;
  width: 24px;
  height: 18px;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  border-bottom: 1px solid $grey-border;
  text-align: center;
  padding: 23px $padding-mobile 22px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.main-nav__link {
  color: $black-color;

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.6;
  }

  &:not(&--active):active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $green-color;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    max-width: 520px;
    flex-wrap: wrap;
  }

  .main-nav__item {
    border: 0;
    padding-right: 0;
    padding-left: 35px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    &--index {
      color: $white-color;
    }

    &--index-active {
      border-bottom: 2px solid $white-color;
    }
  }
}
