.page-header {
  z-index: 1000;
}

.page-header__logo-wrapper {
  display: block;
  padding: 14px $padding-mobile;
  border-bottom: 1px solid $grey-border;
}

.page-header__logo-wrapper[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-img {
  width: 190px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
    align-items: center;
  }

  .page-header__logo-wrapper {
    border: 0;
    padding: 14px 0;
  }

  .page-header__logo-img {
    width: 172px;
    height: 57px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    max-width: $max-desktop-width;
    margin: 0 auto;
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    padding-top: 30px;
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: $max-desktop-width) {
  .page-header {
    padding-left: $padding-max;
    padding-right: $padding-max;
  }
}
