.addition-field__field-wrapper {
  align-items: flex-start;
  padding-top: 0;
}

.addition-field__label {
  display: flex;
  align-items: flex-end;
  min-height: 30px;
  margin-top: 13px;
}

.addition-field__text {
  position: relative;
  padding-bottom: 3px;
  padding-left: 45px;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cecece;
    content: "";
  }
}

.addition-field__input:disabled + .addition-field__text {
  cursor: default;
  opacity: 0.3;
}

.addition-field__input:not(:disabled):focus + .addition-field__text,
.addition-field__input:not(:disabled) + .addition-field__text:hover {
  &::after {
    border-color: #bcbcbc;
  }
}

.addition-field__input:checked + .addition-field__text {
  &::before {
    position: absolute;
    top: calc(50% - 12px);
    left: 5px;
    width: 21px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat 0 0;
    content: "";
  }
}

.addition-field__input {
  flex-grow: 1;
  width: 100px;
  padding: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .addition-field {
    margin-top: 65px;
  }

  .addition-field__field-wrapper {
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
  }

  .addition-field__label {
    width: $flex-item-width;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .addition-field__text {
    padding-left: 57px;

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  .addition-field__input:checked + .addition-field__text {
    &::before {
      top: calc(50% - 8px);
      left: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .addition-field__label {
    width: (245px / $content-max-width) * 100%;
  }
}
