.addition-field__field-wrapper {
  align-items: flex-start;
}

.addition-field__label {
  margin-top: 13px;
  min-height: 30px;
  cursor: pointer;
}

.addition-field__text {
  padding-left: 30px;
  text-transform: uppercase;
}

.addition-field__input {
  flex-grow: 1;
  padding: 12px;
  width: 100px;
  text-transform: uppercase;
}

@media (min-width: $tabletop) {
  .addition-field__field-wrapper {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .addition-field__label {
    width: $flex-item-width;
  }
}

@media (min-width: $desktop) {
  .addition-field__label {
    width: (245px / $content-max-width) * 100%;
  }
}
