.commentary-field {
  margin-top: 10px;
}

.commentary-field__label {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.commentary-field__input {
  flex-grow: 1;
  padding: 12px;
  width: 100px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .commentary-field {
    margin-top: 52px;
  }

  .commentary-field__label {
    margin-top: 57px;
  }

  .commentary-field__input {
    padding-left: 16px;
  }
}
