.owner-field {
  margin-top: 41px;
}

.owner-field__field-wrapper {
  padding-top: 25px;
}

.owner-field__title {
  max-width: 221px;
}

.owner-field__label {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 14px;
}

.owner-field__text {
  flex-shrink: 0;
  padding-right: 16px;
  text-transform: uppercase;
}

.owner-field__input {
  flex-grow: 1;
  width: 100px;
  padding-right: 40px;
}

.owner-field__svg {
  position: absolute;
  right: 32px;
  transform: translate(100%, -50%);
  top: 50%;
}

.owner-field__input:focus + .owner-field__svg {
  fill: $green-color;
}

.programm-form__input--invalid + .owner-field__svg {
  fill: $red-color;
}

@media (min-width: $tablet-width) {
  .owner-field {
    margin-top: 93px;
  }

  .owner-field__field-wrapper {
    padding-top: 35px;
  }

  .owner-field__title {
    max-width: 100%;
  }

  .owner-field__input {
    margin-top: 10px;
  }

  .owner-field__svg {
    right: 37px;
    top: 58%;
  }
}

@media (min-width: $desktop-width) {
  .owner-field__field-wrapper {
    flex-flow: row;
    justify-content: space-between;
  }

  .owner-field__label {
    width: $flex-item-width-desk;
  }
}
