.radio-way {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  align-items: flex-start;
}

.radio-way__label {
  margin-top: 14px;
  cursor: pointer;
}

.radio-way__text {
  padding-left: 30px;
}
