.advantages {
  margin-top: 32px;
  padding: 0 $pad-main;
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-top: 20px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  position: relative;
  min-height: 60px;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--healthy {
    &::before {
      background: url("../img/advantage-leaf@1x.png") no-repeat 50% 50%;
      background-size: 50px 50px;
      background-color: $green-color;
    }
  }

  &--fast {
    &::before {
      background: url("../img/advantage-powder@1x.png") no-repeat 50% 50%;
      background-size: 50px 50px;
      background-color: $green-color;
    }
  }

  &--nutritious {
    &::before {
      background: url("../img/advantage-dining@1x.png") no-repeat 50% 50%;
      background-size: 50px 50px;
      background-color: $green-color;
    }
  }

  &--date {
    &::before {
      background: url("../img/advantage-clock@1x.png") no-repeat 50% 50%;
      background-size: 50px 50px;
      background-color: $green-color;
    }
  }
}

@media (min-width: $tabletop) {
  .advantages {
    padding: 0 $pad-tablet;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: (324px / 708px) * 100%;
    padding-right: 324px - 245px;
  }

  .advantages__text {
    padding-left: 0;
    padding-top: 80px + 37px;

    display: inline-block;
    min-height: 240px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: $green-color;

      position: absolute;
      left: 0;
      top: 40px;
      transform: translateY(-50%);
    }

    /*@for $i from 1 through 4 {
      &--#{$i}::after {
        content: "#{$i}";
        color: $grey-color;
        font-size: 281px;
        line-height: 281px;
        font-family: "Oswald", "Arial", sans-serif;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: -30px;
        z-index: -1;
      }
    }*/
  }
}

@media (min-width: $desktop) {
  .advantages {
    padding: 0 $pad-desk;
  }

  .advantages__list {
    justify-content: space-between;
    padding: 0;
    flex-wrap: nowrap;
  }

  .advantages__item {
    width: (245px / $content-max-width) * 100%;
    padding-right: 0;
  }

  .advantages__text {
    padding-right: 0;
    display: flex;
  }
}

@media (min-width: $max-desktop) {
  .advantages {
    max-width: $max-desktop;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $pad-max;
  }

  .advantages__list {
    max-width: $max-desktop;
  }
}
