.categories__list {
  margin: 0;
  padding: 0 $padding-mobile;
  list-style-type: none;
}

.categories__item {
  position: relative;
}

@media (min-width: $tablet-width) {
  .categories__list {
    padding: 0 $padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0 $padding-desktop;
  }

  .categories__item {
    display: flex;
    width: $flex-item-width-desk;
  }
}

@media (min-width: $max-desktop-width) {
  .categories__list {
    max-width: $max-desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $padding-max;
  }
}
