.example {
  margin-top: 42px;
  background-color: $grey-color;
}

.example__wrapper {
  min-width: $mobile-width;
  padding: 17px 0 29px;
}

.example__top-wrapper {
  padding: 0 $padding-mobile;
}

.example__title {
  display: block;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__text {
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.example__item--box {
  position: relative;
  width: $flex-item-width-desk;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__value--box {
  margin: 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__legend--box {
  position: absolute;
  right: 50%;
  bottom: 0;
  width: (87px / 124px) * 100%;
  margin: 0;
  padding-right: 17px;
  padding-left: 17px;
  transform: translate(50%, 50%);
  background-color: $grey-color;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__item--line {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 38px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__value--line {
  order: 2;
  margin: 0;

  &::before {
    content: "\00a0";
  }
}

.example__legend--line {
  margin: 0;

  &::after {
    content: ":";
  }
}

.example__slider {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    margin-top: 47px;
    background-image: linear-gradient(to right, $grey-color, $grey-color 50%, #e9e9e9 50%, #e9e9e9);

    &::before {
      z-index: 1;
      position: absolute;
      top: 1px;
      left: 0;
      width: 100%;
      height: 620px;
      background-color: $white-color;
      content: "";
    }
  }

  .example__wrapper {
    z-index: 2;
    position: relative;
    padding: 43px $padding-tablet 66px;
  }

  .example__top-wrapper {
    margin-bottom: 20px;
    padding: 0;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    display: block;
    margin-top: 64px;
    margin-bottom: 53px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__item--box {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__value {
    &--box {
      font-size: 30px;
      line-height: 37px;
    }

    &--line {
      margin-top: 7px;
    }
  }

  .example__legend--box {
    width: auto;
    padding-right: 9px;
    padding-left: 9px;
    background-color: $white-color;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
  }

  .example__item--line {
    flex-flow: column;
    flex-grow: 0;
    align-items: flex-end;
    margin: 0;
    font-size: 20px;
    line-height: 20px;

    &:last-child {
      margin-left: auto;
    }
  }

  .example__slider {
    margin-top: 88px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-top: 25px;

    &::before {
      top: 0;
      left: 0;
      height: 179px;
      background-color: $white-color;
    }
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: $padding-desktop;
    padding-bottom: 55px;
    padding-left: $padding-desktop;
    background-image: linear-gradient(to right, $grey-color, $grey-color 72.5%, #e9e9e9 72.5%, #e9e9e9);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 179px;
      background-color: $white-color;
      content: "";
    }
  }

  .example__top-wrapper {
    width: 40%;
    position: relative;
  }

  .example__text {
    margin-top: 146px;
    margin-bottom: 70px;
    padding-right: 56px;
  }

  .example__list {
    width: 366px;
  }

  .example__item--box {
    width: 162px;
  }

  .example__item--line {
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 55px;
  }

  .example__legend--box {
    width: auto;
    background-color: $grey-color;
  }

  .example__value {
    &--line {
      padding-right: 38px;
    }
  }

  .example__slider {
    width: 50%;
    margin-top: -55px;
  }
}

@media (min-width: $max-desktop-width) {
  .example__wrapper {
    max-width: $max-desktop-width;
    margin: 0 auto;
    padding-right: $padding-max;
    padding-left: $padding-max;
  }
}
