.intro {
  padding: 29px $padding-mobile 0;
  color: $white-color;
  text-align: center;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 305px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &::after {
    width: $mobile-width;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
    background-size: 100% auto;
    z-index: -2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }

  &::before {
    background-color: #66a83d;
    width: 100%;
    z-index: -3;
  }
}

.intro__text-wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
}

.intro__tagline {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 25px;
  text-transform: uppercase;
}

.intro__img-wrapper {
  width: (100% - 2 * $padding-mobile);
  height: auto;
  margin: 29px auto 0;
}

.intro__img {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 29px 90px 0;
    margin: 0 $padding-tablet;
    color: $black-color;
    text-align: left;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    &::after,
    &::before {
      background: 0;
    }
  }

  .intro__text-wrapper {
    max-width: 420px;
    margin-left: 0;
    z-index: 2;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }

  .intro__tagline {
    font-size: 20px;
    line-height: 20px;
    margin-top: 45px;
  }

  .intro__img-wrapper {
    order: 4;
    width: 709px;
    height: 609px;
    z-index: -1;
    margin-top: -50px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .intro__img {
    width: 709px;
    height: auto;
  }

  .intro__link {
    margin-top: 48px;
    padding-right: 27px;
    padding-left: 27px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 696px;
    padding-right: $padding-desktop;
    padding-left: calc(#{$padding-desktop} + 80px);
    margin: 0;
    padding-top: 120px;

    &::after {
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 100% 100%;
      background-color: $green-color;
      width: 720px;
      height: 696px;
      right: 0;
      left: auto;
      transform: translateX(0);

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .intro__img-wrapper {
    position: absolute;
    left: 40%;
    z-index: 1;
    width: 552px;
    height: 445px;

    margin-left: auto;
    transform: translateX(0);
  }

  .intro__img {
    width: 552px;
    height: auto;
  }
}

@media (min-width: $max-desktop-width) {
  .intro {
    margin: 0 auto;
    max-width: $max-desktop-width;
    padding-left: $padding-max + 80px;
    padding-right: $padding-max;
  }
}
