.intro {
  padding: 29px $pad-main 0;
  color: $white;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: $green;
    width: 320px;
    height: 305px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
}

.intro__tagline {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 25px;
  text-transform: uppercase;
}

.intro__img-wrapper {
  width: 280px;
  height: 270px;
  margin-top: 29px;
}

.intro__img {
  width: 280px;
  height: 270px;
}
